@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
  color: black;
  font-family: 'Paytone One', sans-serif;
  font-weight: 100;
}

html{
  background-color: radial-gradient(#000000a3, transparent);;
}

.container{
  display: grid;
  grid: auto auto / auto auto auto;
  justify-content: space-around;
}

article{
  margin-bottom: 10%;
}

.title{
  display: flex;
  justify-content: space-between;
}

h2{
  font-size: 20px;
}

.fa-heart{
  margin-top: 12%;
  font-size: 18px;
}

.comment{
  display: flex;
  border: 2px solid black;
    padding: 5px 55px;
    margin: 0 auto;
    background: transparent;
    box-shadow: 2px 3px black;
    font-weight: bold;
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
  padding: 24px 0;
  box-shadow: rgb(0 0 0 / 31%) 0 5px 11px;
}

.footer_content {
  margin-left: 1rem;
}